Source: qtmoko-chess
Section: comm
Priority: optional
Maintainer: Radek Polak <psonek2@seznam.cz>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.qtmoko.org
Vcs-Git: git://github.com/radekp/qtmoko.git
Vcs-Browser: https://github.com/radekp/qtmoko

Package: qtmoko-chess
Architecture: any
Depends: gnuchess
Description: Simple gnuchess frontent for QtMoko or plain Qt
